:root{
    --gold: #92750c;
    --grey: #585955;
    --white: #ede4de;
}

th, td{
    border: 1px solid var(--gold);
    padding: 5px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    /* box-shadow: 0 0 10px rgb(180, 182, 187);  */
    height: 60px;

}

table{
    width: 85vw;
    /* box-shadow: 0 0 10px rgb(180, 182, 187);  */
    margin-bottom: 50px;
    margin-top: 250px;
    
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

td{
    margin: auto;
}

button, #send, #close{
    border-radius: 5px;
    border: 1px solid var(--gold);
    padding: 2px 6px 2px 6px;
    margin: 3px;
    background-color: white;
    border: solid 1px var(--gold);
    color: var(--grey);
    cursor: pointer;
}


.invalue{
    width: 50px;
    border-radius: 5px;
    border: 1px solid var(--gold);
    padding: 2px 6px 2px 6px;
    margin: 3px;
    background-color: white;
    border: solid 1px var(--gold);
    color: var(--grey);
    cursor: pointer;
}
