*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gold: #92750c;
    --grey: #585955;
    --white: #ede4de;
}

body{
    min-width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: #92750C; */
    background: #ede4de;
    color: #585955;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    /* font-size: 9px; */
}

.indicadores{
    padding: 50px 0 50px 0;
    width: 85vw;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* background-color: #92750c; */
    position: fixed;
    background-color: var(--white);
  
}

.menu{
background-color: var(--gold);
}

@media (max-width: 480px) {
    body {
        padding-top: 50px; /* ajusta ao tamanho final do menu no mobile */
        font-size: 9px;
    }

    .indicadores {
        width: 100%;
        /* padding: 12px; */
        /* top: 50%; */
        left: 50%;
        margin-top: -70px;
        transform: translateX(-50%);
    }
}